{% load static %}
<div class="row flex-nowrap">
  <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0">
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
      <div class="navbar-bg">
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
          <li class="nav-item">
            <div class="list-item">
              <a href="#" class="nav-link align-middle px-0">
                <img src="{% static 'assets/dashboard.png' %}" width="26px"> <span
                  class="ms-1 d-none d-sm-inline text-muted">Dashboard</span>
              </a>
            </div>
          </li>

          <li class="nav-item">
            <div class="list-item">
              <a href="#" class="nav-link align-middle px-0">
                <img src="{% static 'assets/projects.png' %}" width="26px"> <span
                  class="ms-1 d-none d-sm-inline text-muted">Projects</span>
              </a>
            </div>
          </li>

          <li class="nav-item">
            <div class="list-item">
              <a href="#" class="nav-link align-middle px-0">
                <img src="{% static 'assets/vendors.png' %}" width="26px"> <span
                  class="ms-1 d-none d-sm-inline text-muted">Vendors</span>
              </a>
            </div>
          </li>

          <li class="nav-item">
            <div class="list-item">
              <a href="#" class="nav-link align-middle px-0">
                <img src="{% static 'assets/analytics.png' %}" width="26px"> <span
                  class="ms-1 d-none d-sm-inline text-muted">Analytics</span>
              </a>
            </div>
          </li>

          <li class="nav-item">
            <div class="list-item">
              <a href="#" class="nav-link align-middle px-0">
                <img src="{% static 'assets/archive.png' %}" width="26px"> <span
                  class="ms-1 d-none d-sm-inline text-muted">Archive</span>
              </a>
            </div>
          </li>

          <li class="nav-item">
            <div class="list-item-selected">
              <a href="#" class="nav-link align-middle px-0">
                <img src="{% static 'assets/estimation.png' %}" width="26px"> <span
                  class="ms-1 d-none d-sm-inline text-muted">Estimations</span>
              </a>
            </div>
          </li>
          

        </ul>
      </div>
    </div>
  </div>