{% extends '../base.html' %}

{% block main %}
{% include 'includes/navbar.html' %}
<div class="container-fluid">
  {% include 'includes/sidebar.html' %}
  <!-- <div class="col py-3">
      Estimations
    </div> --> 

  

  <div class="col py-7">
    <center>
    <button id="add-estimation" name="add-estimation" class="btn btn-primary">Add Estimation</button>
    </center>
    <div class="card-bg">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Client</th>
          <th scope="col">Title</th>
          <th scope="col">Deadline</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Anup </td>
          <td>Bhai</td>
          <td>codu</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>GP</td>
          <td>Summer</td>
          <td>May, 2023</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>amitav reza</td>
          <td>Winter</td>
          <td>March, 2024</td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>

</div>
{% endblock main %}