
.default-bg{
    background-color: #f9f8f8;
}

.navbar-bg{
    background-color: white;
    width: 100%;
    border-radius: 10px;
    display: flex;
}
.card-bg{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-top: 12px;
    margin-right: 26px;
    margin-bottom: 20px;
}

.user-info{
    background-color: white;
    margin-right: 26px;
    padding: 8px;
    border-radius: 12px;
}

.list-item{
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.list-item-selected{
    padding-left: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: bold;
    color: #6c5dd3;
}

.nav-brand-container{
    margin-left: 20px;
    font-weight: bold;
    color: #6c5dd3;
}